@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import "tailwindcss";

/* General */
html {
    scroll-behavior: smooth;
    /* cursor: none; */
}

body {
    background-color: #d3d3d3;
    color: #d3d3d3;
    font-family: "League Gothic", sans-serif;
}

/* Custom containers */
.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

.box-padding {
    padding: 20px 60px;
}

.xl-box-padding {
    padding: 40px 60px;
}

.xs-box-padding {
    padding: 40px;
}

.sm-box-padding {
    padding: 10px 60px;
}

.md-box-padding-y {
    padding: 20px 0;
}

/* Loader */
.loader-text {
    color: transparent;
    background-image: linear-gradient(to right, white 100%, white 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    animation: fillText 4s ease-in-out;
}

.progress-bar {
    animation: progressBar 4s forwards;
}

@keyframes fillText {
    0% {
        background-size: 0;
    }

    50% {
        background-size: 70%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes progressBar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* header links */
.animated-link {
    position: relative;
    padding: 8px 5px;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2.5px;
        background-color: white;
        transition: width 0.25s ease-in-out;
    }

    &:hover::before {
        width: 100%;
        left: 0;
    }

    &:not(:hover)::before {
        left: auto;
        width: 0;
        right: 0;
    }
}

/* Developing process UI card */
.developing-card {
    max-width: 1000px;
    width: 100%;
    min-height: 500px;
}

.developing-card .expand-btn {
    display: none;
}

@media screen and (max-width: 1600px) {
    .developing-card {
        max-width: 700px;
    }
}

@media screen and (min-width: 1510px) {
    /* Landing text */
    .home-landing {
        gap: 70px;
    }
}

@media screen and (max-width: 1510px) {
    
    /* Landing text */
    .large-txt-1 {
        font-size: 11em;
    }

    .large-txt-2 {
        font-size: 8.5em;
    }

    .small-text {
        font-size: 1em;
        max-width: 200px;
    }
}

@media screen and (max-width: 1200px) {
    /* Landing text */
    .large-txt-2 {
        font-size: 7em;
    }
}

@media screen and (max-width: 1120px) {
    /* Landing text */
    .large-txt-1 {
        font-size: 9em;
    }

    .small-text {
        font-size: 0.8em;
        max-width: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .developing-card {
        left: 0;
        width: 100%;
        max-width: max-content;
    }

    
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 1020px) {
    /* Landing text */
    .large-txt-2 {
        font-size: 5em;
    }
    
}

@media screen and (max-width: 1000px) {
    .developing-card {
        max-width: 100%;
        width: 100%;
        min-height: 500px;
    }

    .developing-card .text {
        font-size: 20px;
    }

    .vertical-btn,
    .horizontal-btn {
        width: 30px;
        height: 4px;
    }
}

@media screen and (max-width: 970px) {
    /* Landing text */
    .large-txt-1 {
        font-size: 7em;
    }

    .small-text {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 850px) {
    /* Landing text */
    .home-landing {
        gap: 40px;
        min-height: max-content;
    }

    .text {
        flex-direction: column;
    }

    .large-text {
        line-height: 1.3    
    }

    .small-text {
        font-size: 1.1em;
        max-width: 100%;
    }

    .developing-card .title {
        font-size: 60px;
    }

    .developing-card .expand-btn {
        display: initial;
    }

    .developing-card {
        min-height: 350px;
    }
}

@media screen and (max-width: 640px) {
    .box-padding {
        padding: 20px 20px;
    }
    
    .sm-box-padding {
        padding: 10px 20px;
    }

    .xl-box-padding {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 550px) {
    .large-text {
        font-size: 4em;
    }
}

@media screen and (max-width: 450px) {
    .vertical-btn,
    .horizontal-btn {
        width: 15px;
        height: 3px;
    }
}

/* .developing-card {
    transition: 0.4s ease-in-out;
} */