@import "tailwindcss";

/* General */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A191D;
    /* background-color: white; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Custom containers */
.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

.box-padding {
    padding: 20px 40px;
}

/* Loader */
.loader-text {
    color: transparent;
    background-image: linear-gradient(to right, white 100%, white 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    animation: fillText 4s ease-in-out;
}

.progress-bar {
    animation: progressBar 4s forwards;
}

@keyframes fillText {
    0% {
        background-size: 0;
    }

    50% {
        background-size: 70%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes progressBar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}